<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appwatchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84E7DBF81DFE7C9C00EEFDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E7DC111DFE7C9D00EEFDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E7DC1C1DFE7C9D00EEFDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
